// Variables
@import 'variables';
//apartments
@import './partials/apartments';
//dahsboard
@import './partials/dashboard';
//login
@import './partials/login';

//reset user agent
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}