// Variables
@import "variables";
//apartments
@import "./partials/apartments";
// LandingPage
@import "./partials/landingpage";
//dahsboard
@import "./partials/dashboard";
//common class
@import "./partials/common";
//side navbar
@import "./partials/navbarside";
//title bar
@import './partials/title';
//create
@import './partials/create';
//login
@import "./partials/login";
// Card singolo appartamento
@import "./partials/singleapartment";
// footer
@import "./partials/footer";
//reset user agent
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}