@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);.btn-color {
  background-color: #ff385c !important;
  border-color: #ff385c !important;
}

.h2-color {
  color: #ff385c;
}

.custom-margin {
  margin-right: 10px;
}

.spacing {
  margin-bottom: 20px;
  margin-top: 5px;
}

.left {
  width: 30%;
  background-color: #c8c8c8;
  color: #222222;
  padding-top: 20px;
}

.menu {
  list-style-type: none;
  margin-left: 0 !important;
}

.menu-items {
  text-decoration: none;
  color: #222222;
}

.menu-items:hover {
  text-decoration: none;
  color: #ff385c;
}

ul {
  margin-left: 0 !important;
}

.apartment-padding {
  padding: 26px;
}

.section-padding {
  margin-top: 5px;
  padding: 14px;
}

.table {
  margin-top: 20px;
}

.between-tables {
  padding-top: 25px;
}

.nav-flex {
  display: flex;
  min-height: 100%;
}

.delete {
  background-color: white;
  color: #222222;
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.delete:hover {
  border: 1px solid #ff385c;
  background-color: #ff385c;
  color: white;
}

.listaptimg {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .apartment-padding {
    max-width: 100%;
  }

  .apartment-padding table {
    max-width: 100%;
  }

  .apartment-padding table tbody {
    max-width: 100%;
  }

  .apartment-padding table tbody tr td:first-child,
  .apartment-padding table tbody tr td:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .apartment-padding {
    max-width: 100%;
  }

  .apartment-padding table {
    max-width: 100%;
  }

  .apartment-padding table tbody {
    max-width: 100%;
  }

  .apartment-padding table tbody tr td:first-child,
  .apartment-padding table tbody tr td:nth-child(3),
  .apartment-padding table tbody tr td:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .margin-section .apartment-padding {
    flex-direction: column;
  }

  .margin-section .apartment-padding .sponsorship-card {
    width: 100%;
    margin-top: 1rem;
  }
}

.hero {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
}

.autocomplete {
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  border: 1px solid #ff385c;
  border-radius: 20px;
  position: absolute;
}

.autocomplete ul {
  list-style: none;
}

.autocomplete ul li {
  font-family: monospace;
  opacity: 0.7;
  border-bottom: 1px solid grey;
  padding: 5px 0;
  cursor: pointer;
}

.autocomplete ul li:last-of-type {
  border: none;
}

.autocomplete ul li:hover {
  opacity: 1;
  color: #ff385c;
}

.index-search-bar {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.index-search-bar .index-search {
  width: 100%;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
  margin-top: 16px;
  padding: 10px 15px 10px 15px;
}

.opacity {
  opacity: 0.5;
}

.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.index-cards .index-card {
  display: flex;
  flex-direction: column;
  width: calc(25% - 72px);
  margin: 32px;
  border-radius: 20px;
  border: none !important;
}

.index-cards .index-card .index-cover-img {
  width: 100%;
  position: relative;
}

.index-cards .index-card .index-cover-img .index-cover-img-l {
  position: absolute;
  bottom: 10%;
  left: 3%;
  z-index: 10;
  color: white;
}

.index-cards .index-card .index-cover-img .index-sponsor {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  background-color: white;
  padding: 5px;
  border-radius: 30px;
}

.index-cards .index-card .index-img-top {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.index-cards .index-card .index-card-text {
  margin: 1rem auto;
  width: 90%;
}

.index-cards .index-card .index-card-text p {
  margin: 0.2rem 0;
}

.index-cards .index-card .index-card-price {
  width: 90%;
  margin-top: auto;
  padding: 0px 10px 20px 10px;
}

.index-cards .index-card .index-card-price .index-btn {
  padding: 5px;
  color: #ff385c;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
  margin-top: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.index-cards .index-card .index-card-price .index-btn:hover {
  color: white;
  background-color: #ff385c;
}

.index-card-title {
  opacity: 0.5;
}

@media screen and (max-width: 1080px) {
  .index-cards {
    margin-top: 16px;
  }

  .index-cards .index-card {
    width: calc(33.3333333333% - 32px);
    margin: 16px;
  }

  .hero {
    height: 280px;
  }
}

@media screen and (max-width: 768px) {
  .index-cards .index-card {
    width: calc(50% - 36px);
    margin: 18px;
  }

  .hero {
    height: 280px;
  }
}

@media screen and (max-width: 430px) {
  .index-search-bar {
    width: 80%;
  }

  .index-search-bar .index-search {
    width: 100%;
  }

  .index-cards .index-card {
    width: 80%;
  }

  .hero {
    height: 175px;
  }
}

.template-image {
  height: 160px;
  width: 160px;
  border-radius: 10px;
}

.statistics-written {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
}

.accent {
  color: #ff385c;
  width: 20%;
  margin-top: 15px;
  border-radius: 30px;
}

.p-margin {
  padding-top: 30px;
  padding-bottom: 20px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.cards {
  display: flex;
  margin-top: 20px;
}

.dash-title {
  margin-bottom: 30px;
}

.description {
  padding: 20px;
  margin-left: 10px;
  width: 80%;
}

.pill-welcome {
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

.flex-right {
  padding-right: 40px;
  padding-left: 40px;
}

.global-padding {
  padding: 50px;
}

.padding-description {
  padding-bottom: 20px;
}

.padding-dashboard {
  width: 90%;
  margin: 2rem auto;
}

.fa-crown {
  color: white;
  background-color: gold;
  padding: 6px;
}

@media screen and (max-width: 700px) {
  .global-padding {
    padding: 30px;
  }

  .statistics-padding {
    margin: 0;
    width: 100% !important;
  }

  .statistics .cards {
    align-items: center;
    flex-direction: column;
  }

  .statistics .cards .wrap.description {
    width: 100% !important;
    padding: 0;
    margin: 0;
    margin-top: 1.5rem;
  }

  .statistics .cards button {
    margin-top: 1.5rem;
  }
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.button_accent {
  background-color: #ff385c;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  color: white !important;
  font-size: 13px;
  text-decoration: none;
  font-weight: 600 !important;
}

.button_accent a {
  color: white;
  text-decoration: none;
}

.button_crud {
  background-color: white;
  color: #222222;
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.button_crud:hover {
  border: 1px solid #ff385c;
  background-color: #ff385c;
  color: white;
}

.text_decoration_none {
  text-decoration: none;
  color: inherit;
}

.list-type {
  list-style-type: none;
}

.link-hover:hover {
  color: white !important;
}

.custom {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
}

.navbar {
  z-index: 99;
}

.navbar .nav-container {
  position: relative;
  height: 60px;
  margin-top: -12px;
  padding: 0 !important;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.navbar .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar .nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ff385c;
}

.navbar .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(-300px);
  width: 30vw;
}

.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.navbar .nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

.navbar .nav-container .menu-items {
  color: #ff385c !important;
  position: absolute;
  display: flex;
  padding: 80px;
  height: 100vh;
  align-items: center;
  transform: translate(-200%);
  flex-direction: column;
  margin-left: -40px;
  transition: transform 0.5s ease-in-out;
  background-color: #eeeeee;
}

.navbar .nav-container .menu-items .logo {
  margin-bottom: 2rem;
  padding-left: 7px;
  padding-bottom: 12px;
}

.navbar .nav-container .menu-items li {
  display: block;
  margin: 1.2rem;
  font-size: 20px;
  font-weight: 500;
}

.navbar .nav-container .menu-items .navbar-ul {
  list-style-type: none;
  margin-bottom: 0 !important;
}

.navbar .nav-container .menu-items .navbar-ul .navbar-li {
  cursor: pointer;
  text-decoration: none;
  color: #222222;
  margin-bottom: 15px;
}

.navbar .nav-container .menu-items .navbar-ul .navbar-li a:hover {
  color: #ff385c;
}

.nav-logo a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .button_accent {
    padding: 10px 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .title {
    justify-content: space-between !important;
  }

  .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0px);
    width: 70vw;
  }

  .navbar .nav-container .menu-items {
    min-height: 100%;
    padding: 10px;
    width: 0vw;
  }
}

@media screen and (max-width: 1600px) {
  .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(-200px);
    width: 30vw;
  }

  .navbar .nav-container .menu-items {
    padding: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(-100px);
    width: 30vw;
  }

  .navbar .nav-container .menu-items {
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(-50px);
    width: 40vw;
  }

  .navbar .nav-container .menu-items {
    padding: 20px;
    padding-top: 100px;
  }

  .navbar .nav-container .logo {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(-50px);
    width: 40vw;
  }

  .navbar .nav-container .menu-items {
    padding: 20px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 700px) {
  .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(-50px);
    width: 70vw;
  }

  .navbar .nav-container .menu-items {
    padding: 20px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 420px) {
  .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(30px);
    width: 70vw;
  }

  .navbar .nav-container .menu-items {
    padding: 20px;
    padding-top: 100px;
  }
}

.title {
  color: #ff385c;
  font-size: 16px;
  font-weight: 700;
  justify-content: space-around;
}

.title-border {
  border-bottom: 1px solid #eeeeee;
}

.margin-nav {
  margin-top: 12px;
}

.m-right {
  margin-right: 20px;
}

.nav {
  max-width: 100vw;
  z-index: 10;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 5px 5px 10px 0px lightgray;
}

.nav .navbar-guest {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.nav .navbar-guest span {
  margin-left: 10px;
}

.nav-logo a {
  display: flex;
  align-items: center;
}

.nav-logo a span {
  margin-left: 10px;
}

.navbar-options {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 430px) {
  .navbar-options {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
}

.pill {
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.margin-top-forms {
  margin-top: 30px;
}

.form-create {
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
}

.form-create-width {
  width: 45vw;
}

.price {
  width: 13vw;
}

.description-form {
  width: 60vw;
}

.address-form {
  width: 60vw;
  margin-top: 20px;
}

.address-form2 {
  width: 60vw;
}

.services-form {
  width: 60vw;
  margin-bottom: 30px;
}

.services-ul {
  height: 20vh;
  overflow-y: scroll;
  padding: 10px;
}

.services-title {
  margin-bottom: 20px;
  color: #ff385c;
  font-weight: bold;
}

.image-form {
  width: 60vw;
}

.little-forms {
  width: 10vw;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
  padding: 10px;
  margin-left: 20px;
}

.padding-top-forms {
  padding-top: 30px;
}

.radio {
  text-align: center;
  margin-top: 30px;
}

.margin-bottom-forms {
  padding-bottom: 30px;
}

.custom-margin-create {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-send {
  background-color: #ff385c;
  padding: 15px;
  border: 0px;
  border-radius: 8px;
  color: white !important;
  font-size: 15px;
  font-weight: 600 !important;
  width: 12vw;
}

.select-form-visible {
  padding: 5px;
  border: 1px solid #ff385c;
  background-color: white;
  color: #ff385c;
  border-radius: 10px;
}

.margin-top-services {
  padding-top: 15px;
}

.select-visible {
  margin-top: 15px;
}

.margin-little-forms-label {
  color: #ff385c;
  margin-left: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #ff385c;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

input::-webkit-file-upload-button,
textarea::-webkit-file-upload-button,
select::-webkit-file-upload-button {
  border-radius: 5px;
  border: 1px solid #ff385c;
  background-color: transparent;
  color: #ff385c;
}

input[type=file] {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.form-create::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.form-create::placeholder {
  font-weight: bold;
  color: lightgray;
}

.price::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.price::placeholder {
  font-weight: bold;
  color: lightgray;
}

.description-form::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.description-form::placeholder {
  font-weight: bold;
  color: lightgray;
}

.address-form::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.address-form::placeholder {
  font-weight: bold;
  color: lightgray;
}

.services-form::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.services-form::placeholder {
  font-weight: bold;
  color: lightgray;
}

.li-hover:hover {
  color: #ff385c;
}

.margin-form {
  margin-left: 30px;
}

.direction {
  flex-direction: column;
}

.pill {
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.margin-top-forms {
  margin-top: 30px;
}

.form-create {
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
}

.form-create-width {
  width: 45vw;
}

.price {
  width: 13vw;
}

.description-form {
  width: 60vw;
}

.address-form {
  width: 60vw;
  margin-top: 20px;
}

.address-form2 {
  width: 60vw;
}

.services-form {
  width: 60vw;
  margin-bottom: 30px;
}

.services-ul {
  height: 20vh;
  overflow-y: scroll;
  padding: 10px;
}

.services-title {
  margin-bottom: 20px;
  color: #ff385c;
  font-weight: bold;
}

.image-form {
  width: 60vw;
}

.little-forms {
  width: 10vw;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
  padding: 10px;
  margin-left: 20px;
}

.padding-top-forms {
  padding-top: 30px;
}

.radio {
  text-align: center;
  margin-top: 30px;
}

.margin-bottom-forms {
  padding-bottom: 30px;
}

.custom-margin-create {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-send {
  background-color: #ff385c;
  padding: 15px;
  border: 0px;
  border-radius: 8px;
  color: white !important;
  font-size: 15px;
  font-weight: 600 !important;
  width: 12vw;
}

.select-form-visible {
  padding: 5px;
  border: 1px solid #ff385c;
  background-color: white;
  color: #ff385c;
  border-radius: 10px;
}

.margin-top-services {
  padding-top: 15px;
}

.select-visible {
  margin: 1rem 0;
}

.margin-little-forms-label {
  color: #ff385c;
  margin-left: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #ff385c;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

input::-webkit-file-upload-button,
textarea::-webkit-file-upload-button,
select::-webkit-file-upload-button {
  border-radius: 5px;
  border: 1px solid #ff385c;
  background-color: transparent;
  color: #ff385c;
}

input[type=file] {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.form-create::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.form-create::placeholder {
  font-weight: bold;
  color: lightgray;
}

.price::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.price::placeholder {
  font-weight: bold;
  color: lightgray;
}

.description-form::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.description-form::placeholder {
  font-weight: bold;
  color: lightgray;
}

.address-form::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.address-form::placeholder {
  font-weight: bold;
  color: lightgray;
}

.services-form::-moz-placeholder {
  font-weight: bold;
  color: lightgray;
}

.services-form::placeholder {
  font-weight: bold;
  color: lightgray;
}

.li-hover:hover {
  color: #ff385c;
}

.margin-form {
  margin-left: 30px;
}

.direction {
  flex-direction: column;
}

.custom-margin-create .custom {
  width: 90%;
}

#app form {
  padding: 10px;
}

#app form .form-group {
  margin: 0;
}

#app form .form-group input[type=number] {
  width: 100%;
  margin: 0;
}

#app form > * {
  width: 90%;
}

#app form > * > textarea {
  width: 100%;
}

.padding-show {
  min-width: 100%;
  padding: 30px;
}

.pill-show {
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  margin: 20px 0;
}

.aptimg {
  width: 300px;
  z-index: 1;
  border-radius: 10px;
}

.info-show {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 15px;
  justify-content: space-between;
}

.icons-absolute {
  position: absolute;
  bottom: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: white;
}

.fa-solid {
  margin-left: 15px;
  margin-right: 5px;
}

.margin-show-info {
  margin-bottom: 25px;
}

.margin-show-title {
  padding-bottom: 10px;
}

.color-show {
  color: #ff385c;
}

.show-services {
  color: #ff385c;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.show-services ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.show-services ul li {
  color: #000;
  border: 1px solid lightgray;
  padding: 0.35rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px 0px lightgrey;
  margin-top: 0.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.8;
  margin-right: 0.3rem;
}

@media screen and (max-width: 400px) {
  .wrap-query {
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .wrap-query .block {
    max-width: 100%;
  }

  .wrap-query .block img {
    max-width: 100%;
  }

  .wrap-query .info-show {
    margin: 20px 0;
    flex-wrap: wrap;
  }
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login-title,
.register-title,
.reset-title {
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.button-login,
.button-register,
.button-reset,
.default-button {
  padding: 5px 10px !important;
  margin: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  border: 0px white solid !important;
  cursor: pointer;
  background-color: #ff385c;
}

.button-login:hover,
.button-register:hover,
.button-reset:hover,
.default-button:hover {
  background-color: #ff002f;
}

nav .navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navbar-options .navbar-nav {
  display: flex;
  list-style-type: none;
}

nav .navbar-options .navbar-nav a {
  text-decoration: none;
  padding: 0 10px;
}

.login-container,
.register-container,
.reset-container {
  text-align: center;
}

.card {
  display: inline-block;
  text-align: center;
  padding: 50px;
  margin: 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.card .form-control {
  border-radius: 10px;
  padding: 10px;
  font-size: small;
  font-weight: bold;
}

.card .form-group {
  margin-bottom: 1rem;
}

.card .form-check {
  font-weight: bold;
  font-size: small;
  margin-bottom: 10px;
}

.card .form-check input {
  vertical-align: middle;
}

.invalid-feedback {
  display: block;
  text-align: initial;
  color: #ff385c;
  font-size: 0.7rem;
  font-weight: light;
}

@media screen and (max-width: 480px) {
  .login-container .button-login,
  .login-container .button-register {
    padding: 5px 5px !important;
    margin: 5px 5px;
  }

  .login-container .card .form-control {
    width: auto;
  }

  .login-container .login-reset-area {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .card .form-control {
    width: 20vw;
  }
}

.sa-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 5vh;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
  padding: 30px;
}

.sa-container label {
  margin: 1rem 0;
  display: inline-block;
  color: #ff385c;
  font-weight: bold;
}

.sa-container .sa-title {
  font-size: 2em;
  color: red;
  font-weight: 700;
}

.sa-container .sa-owner {
  margin-bottom: 8px;
  font-weight: 500;
}

.sa-container .sa-cont-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.sa-container .sa-cont-img img {
  width: calc(50% - 20px);
  border-radius: 10px;
}

.sa-container .sa-opacity {
  opacity: 0.5;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sa-container .sa-price {
  margin: 1.5rem 0;
  color: #ff385c;
  font-weight: bolder;
}

.sa-container .sa-price span {
  margin-left: 0.5em;
  font-weight: 500;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #ff385c;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

input::-webkit-file-upload-button,
textarea::-webkit-file-upload-button,
select::-webkit-file-upload-button {
  border-radius: 5px;
  border: 1px solid #ff385c;
  background-color: transparent;
  color: #ff385c;
}

.id {
  width: calc(50% - 20px);
  height: 350px;
  display: inline-block;
  border-radius: 10px;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  margin-top: 0.5em;
  text-align: center;
}

.ft-img {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.margin-section {
  margin-top: 3rem;
}

.sponsorship-card {
  width: calc(33.3333333333% - 100px);
  padding: 2.5rem;
  border: 1px solid #c8c8c8;
  box-shadow: 5px 5px 10px 0px #c8c8c8;
  border-radius: 10px;
}

.sponsorship-card h2 {
  color: #ff385c;
  text-align: center;
}

.sponsorship-card img {
  display: block;
  width: 80%;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
}

.sponsorship-card img.Bronze {
  filter: hue-rotate(25deg) saturate(0.8);
}

.sponsorship-card img.Silver {
  filter: saturate(0) brightness(1.2);
}

.sponsorship-card img.Gold {
  filter: hue-rotate(50deg) brightness(1.5);
}

.sponsorship-card p {
  margin: 10px 0;
}

.sponsorship-card p:last-child {
  margin: 20px 0;
}

.items-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.h-100 {
  height: 100%;
}

.search-as {
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  font-size: small;
  font-weight: bold;
}

.radiusdiv {
  border: 0.5px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 lightgray;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: inline-block;
  padding: 10px;
}

.stanze-letti {
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  font-size: small;
  font-weight: bold;
}

.container-cards-as {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.advanced {
  justify-content: space-around;
  padding: 30px 0;
  margin: 0 auto;
  width: 90%;
}

.card-as {
  color: rgb(113, 113, 113) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  display: inline-block;
  width: calc(25% - 20px);
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 0 0 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.card-as img {
  width: 100%;
  border-radius: 15px;
}

.card-as .card-img-as {
  margin-bottom: 10px;
  position: relative;
}

.card-as .icons-as {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.card-as .card-title-as {
  color: black;
  font-weight: bolder;
  font-size: 1.2rem;
}

.card-as .card-price-as span {
  color: rgb(53, 53, 53);
  font-weight: bold;
  font-size: 1.1em;
}

.card-as .card-body-as {
  padding: 10px;
  text-align: left;
}

.card-as .card-body-as * {
  margin-bottom: 15px;
}

.card-as .button-show {
  text-decoration: none;
  padding: 5px 10px !important;
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
  color: white;
  border: 0px white solid !important;
  cursor: pointer;
  background-color: #ff385c;
}

.card-as .button-show:hover {
  background-color: #ff002f;
}

.no-results-as {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}

.search-bar-as {
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .card .form-control {
    width: 20vw;
  }
}

@media screen and (max-width: 965px) {
  .container-as {
    text-align: center;
  }

  .card-as {
    width: calc(33.3333333333% - 5px);
  }

  .search-bar-as {
    display: inline-block;
    text-align: center;
  }

  .search-bar-as div {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .search-bar-as span {
    display: block;
    margin-bottom: 15px;
  }

  .card-as {
    font-size: 12px !important;
    line-height: 15px !important;
    width: calc(50% - 5px);
    display: inline-block;
    padding: 0 0 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }

  .card-as .card-title-as {
    line-height: 25px !important;
  }

  .card-as .button-show {
    font-size: 0.5rem !important;
  }

  .card-as .card-title-as {
    font-size: 1.2rem;
  }

  .card-as .card-price-as span {
    font-size: 1.1em;
  }

  .card-as .card-body-as {
    padding: 10px;
  }

  .card-as .card-body-as * {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 420px) {
  .card-as {
    width: calc(100% - 20px);
  }

  .container-cards-as {
    justify-content: center;
  }

  #filter {
    display: flex !important;
    align-items: center;
  }

  body > main > div > div > div > div.flex.advanced > div.filters-as.flex.posrev {
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  body > main > div > div > div > div.flex.advanced > div.filters-as.flex.posrev .flex {
    margin: 0;
  }

  body > main > div > div > div > div.flex.advanced > div.filters-as.flex.posrev > * {
    margin: 0.1rem auto;
  }
}

.container-ms {
  padding: 50px 5%;
}

.title-ms {
  color: #ff385c;
  padding: 20px;
  font-weight: 700;
}

.singleapartment-ms {
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.apartment-name-ms {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.message-ms {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
}

.message-ms .message-sender-ms {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.message-ms .message-content-ms {
  color: rgb(114, 114, 114);
  font-weight: 600;
}

@media screen and (max-width: 510px) {
  .query-changes {
    flex-direction: column;
    padding: 5px;
    margin-left: 5px;
  }

  .query-changes form {
    margin: 5px;
  }

  h1 {
    font-size: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: #ff385c;
}

.alert {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 10%;
  left: 50%;
  border: 3px solid;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.alert.alert-deleted {
  color: red;
  border-color: red;
}

.alert.alert-created {
  color: green;
  border-color: green;
}

.alert.alert-edited {
  color: lightseagreen;
  border-color: lightseagreen;
}

