@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);.btn-color {
  background-color: #ff385c !important;
  border-color: #ff385c !important;
}

.h2-color {
  color: #ff385c;
}

.custom-margin {
  margin-right: 10px;
}

.spacing {
  margin-bottom: 20px;
  margin-top: 5px;
}

.left {
  width: 30%;
  background-color: #c8c8c8;
  color: #222222;
  padding-top: 20px;
}

.menu {
  list-style-type: none;
  margin-left: 0 !important;
}

.menu-items {
  text-decoration: none;
  color: #222222;
}

.menu-items:hover {
  text-decoration: none;
  color: #ff385c;
}

ul {
  margin-left: 0 !important;
}

.apartment-padding {
  padding: 26px;
}

.section-padding {
  margin-top: 5px;
  padding: 14px;
}

.table {
  margin-top: 20px;
}

.between-tables {
  padding-top: 25px;
}

.nav-flex {
  display: flex;
  min-height: 100%;
}

.delete {
  background-color: white;
  color: #222222;
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.delete:hover {
  border: 1px solid #ff385c;
  background-color: #ff385c;
  color: white;
}

.margin-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.template-image {
  height: 160px;
  width: 160px;
}

.statistics-written {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
}

.accent {
  color: #ff385c;
  width: 20%;
  margin-top: 15px;
  border-radius: 30px;
}

.p-margin {
  padding-top: 30px;
  padding-bottom: 20px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.cards {
  display: flex;
  margin-top: 20px;
}

.dash-title {
  margin-bottom: 30px;
  width: 30%;
}

.description {
  padding: 20px;
  margin-left: 10px;
  width: 80%;
}

.pill-welcome {
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

.flex-right {
  padding-right: 40px;
  padding-left: 40px;
}

.global-padding {
  padding: 50px;
}

.padding-description {
  padding-bottom: 20px;
}

.padding-dashboard {
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.button_accent {
  background-color: #ff385c;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  color: white !important;
  font-size: 13px;
  text-decoration: none;
  font-weight: 600 !important;
}

.button_crud {
  background-color: white;
  color: #222222;
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.button_crud:hover {
  border: 1px solid #ff385c;
  background-color: #ff385c;
  color: white;
}

.text_decoration_none {
  text-decoration: none;
  color: inherit;
}

.link-hover:hover {
  color: white !important;
}

.custom {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
  width: 95%;
}

.nav-ul {
  list-style-type: none;
  margin-bottom: 0 !important;
}

.nav-ul .nav-li {
  text-decoration: none;
  color: #222222;
  margin-bottom: 15px;
}

.nav-ul .nav-li:hover {
  color: #ff385c;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
  margin-top: -12px;
}

.navbar {
  width: 100%;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ff385c;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  background-color: #EEEEEE;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 20px;
  font-weight: 500;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
  width: 25vw;
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

.logo {
  padding-left: 18px;
}

.menu-items {
  color: #ff385c !important;
}

.title {
  color: #ff385c;
  font-size: 16px;
  font-weight: 700;
}

.title-border {
  border-bottom: 1px solid #EEEEEE;
}

.margin-nav {
  margin-top: 12px;
}

.m-right {
  margin-right: 20px;
}

.login-title {
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

