.title {
  color: #ff385c;
  font-size: 16px;
  font-weight: 700;
}

.btn-color {
  background-color: #ff385c !important;
  border-color: #ff385c !important;
}

.h2-color {
  color: #ff385c;
}

.custom-margin {
  margin-right: 10px;
}

.spacing {
  margin-bottom: 20px;
  margin-top: 5px;
}

.left {
  width: 30%;
  background-color: #c8c8c8;
  color: #222222;
  padding-top: 20px;
}

.menu {
  list-style-type: none;
  margin-left: 0 !important;
}

.menu-items {
  text-decoration: none;
  color: #222222;
}

.menu-items:hover {
  text-decoration: none;
  color: #ff385c;
}

ul {
  margin-left: 0 !important;
}

.custom {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px lightgray;
  width: 92%;
}

.apartment-padding {
  padding: 26px;
}

.section-padding {
  margin-top: 5px;
  padding: 14px;
}

.table {
  margin-top: 20px;
}

.nav-ul {
  list-style-type: none;
  margin-bottom: 0 !important;
}

.nav-ul .nav-li {
  text-decoration: none;
  color: #222222;
  margin-left: 50px;
  margin-bottom: 15px;
}

.nav-ul .nav-li:hover {
  color: #ff385c;
}

.title {
  padding: 12px;
}

.nav-flex {
  display: flex;
  min-height: 100%;
}

.pos-rel {
  width: 40vw;
}

.template-image {
  height: 160px;
  width: 160px;
}

.hover:hover {
  background-color: black;
  z-index: 1;
}

.statistics-written {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
}

.accent {
  padding-bottom: 12px;
  padding-top: 12px;
  color: #ff385c;
}

.spacing-title {
  padding-top: 20px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cards {
  display: flex;
  margin-top: 20px;
}

.description {
  margin-left: 20px;
  margin-right: 20px;
}

.dash-title {
  margin-bottom: 30px;
  width: 40%;
}

.color-welcome {
  color: rgb(114, 114, 114);
  text-align: center;
  margin-top: 25px;
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 10px;
}

.bg-color {
  background-color: #EEEEEE;
}

.flex-right {
  padding-right: 40px;
  padding-left: 40px;
}

.nav-bar {
  padding-top: 50px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.button_accent {
  background-color: #ff385c;
  padding: 8px;
  border: 0px;
  border-radius: 8px;
  color: white !important;
  font-size: 12px;
  text-decoration: none;
}

.button_crud {
  background-color: white;
  color: #222222;
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
}

.button-crud:hover {
  color: #ff385c;
  text-decoration: none;
}

.text_decoration_none {
  text-decoration: none;
}

.login-title {
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

