.title {
    color: $color-accent;
    font-size: 16px;
    font-weight: 700;
}

.btn-color {
    background-color: $color-accent !important;
    border-color: $color-accent !important;
}

.h2-color {
    color: $color-accent;
}

.custom-margin {
    margin-right: 10px;
}

.spacing {
    margin-bottom: 20px;
    margin-top: 5px;
}

.left {
    width: 30%;
    background-color: $color-gray-1;
    color: $color-gray-2;
    padding-top: 20px;
}

.menu {
    list-style-type: none;
    margin-left: 0 !important;
}

.menu-items {
    text-decoration: none;
    color: $color-gray-2;
}

.menu-items:hover {
    text-decoration: none;
    color: $color-accent;
}

ul {
    margin-left: 0 !important;
}

.custom {
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px lightgray;
    width: 92%;
}

.apartment-padding {
    padding: 26px;
}

.section-padding {
    margin-top: 5px;
    padding: 14px;
}

.table {
    margin-top: 20px;
}

.between-tables {
    padding-top: 25px;
}