.pill {
    color: white;
    background-color: $color-accent;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    width: 25%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.form-create {
    width: 30vw;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px lightgray;
}

input,
textarea {
    &:focus {
        border: 2px solid $color-accent;
    }
    &:focus-visible{
        outline: none;

    }
}

.form-create::placeholder {
    font-weight: bold;
    opacity: .5;
    color: gray;
}