.nav-ul {
    list-style-type: none;
    margin-bottom: 0 !important;
    .nav-li {
        text-decoration: none;
        color: $color-gray-2;
        margin-left: 50px;
    }
    .nav-li:hover {
        color: $color-accent;
    }
}

.title {
    padding: 15px;
}

.nav-flex {
    display: flex;
}

.button {
    background-color: $color-accent;
    padding: 6px;
    border: 0px;
    border-radius: 8px;
    color: white;
}

.pos-rel {
    width: 25vw;
}

.test {
    display: flex;
    justify-content: space-between;
}