.template-image {
    height: 160px;
    width: 160px;
    border-radius: 10px;
}

.statistics-written {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
}

.accent {
    color: $color-accent;
    width: 20%;
    margin-top: 15px;
    border-radius: 30px;
}

.p-margin {
    padding-top: 30px;
    padding-bottom: 20px;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

.cards {
    display: flex;
    margin-top: 20px;
}

.dash-title {
    margin-bottom: 30px;
}

.description {
    padding: 20px;
    margin-left: 10px;
    width: 80%;
}

.pill-welcome {
    color: white;
    background-color: $color-accent;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.flex-right {
    padding-right: 40px;
    padding-left: 40px;
}

.global-padding {
    padding: 50px;
}

.padding-description {
    padding-bottom: 20px;
}

.padding-dashboard {
    width: 90%;
    margin: 2rem auto;
}

.fa-crown {
    color: white;
    background-color: gold;
    padding: 6px;
}

@media screen and (max-width: 700px) {
    .statistics {
        .cards {
            align-items: center;
            flex-direction: column;
        }
    }
}
