.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    text-align: center;
    // height: 2vh;
    // background-color: white;
}
.ft-img{
    margin-left: 0.3em;
    margin-right: 0.3em;
}
