*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.autocomplete {
    z-index: 10;
    width: 50vw;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    ul {
        list-style: none;
        li {
            font-family: monospace;
            opacity: 0.7;
            border-bottom: 1px solid grey;
            padding: 5px 0;
            cursor: pointer;
            &:last-of-type {
                border: none;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

.index-search-bar {
    .index-search {
        width: 20vw;
        margin-left: 3vw;
        border-radius: 3px;
        box-shadow: 2px 2px 1px gray;
        border: 0 solid gray;
        margin-bottom: 16px;
        margin-top: 16px;
        padding: 5px 5px 5px 15px;
    }
}

.opacity {
    opacity: 0.5;
}

.index-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px 30px 0px 0%;

    .index-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid grey;
        height: 750px;
        width: calc((100% / 4) - 72px);
        margin-left: 36px;
        margin-top: 36px;
        margin-right: 36px;
        border-radius: 20px;
        box-shadow: 2px 2px 1px gray;

        .index-cover-img {
            width: 100%;
            position: relative;

            .index-cover-img-l {
                position: absolute;
                bottom: 10%;
                left: 3%;
                z-index: 10;
                color: white;
            }

            .index-sponsor{
                position: absolute;
                bottom: 90%;
                left: 7%;
                z-index: 10;
                color: white;
                padding: 5px;
                border: 1px solid white;
                border-radius: 10px;
            }
        }

        .index-img-top {
            width: 100%;
            border-radius: 20px 20px 0px 0px;
        }

        .index-card-text {
            z-index: -10;
            padding: 5%;
            width: 90%;
        }

        .index-card-price {
            top: 90%;
            width: 90%;
            padding: 0px 10px 20px 10px;

            .index-card-title {
                font-size: 0.8em;
                opacity: 0.5;
                margin-bottom: 16px;
            }

            .index-btn {
                padding: 5px;
                color: red;
                border-radius: 10px;
                border: 0.2px solid grey;
                box-shadow: 2px 2px 1px gray;
                margin-top: 16px;

                &:hover {
                    -webkit-box-shadow: 0 0 5px 2px gray;
                    -moz-box-shadow: 0 0 5px 2px gray;
                    box-shadow: 0 0 5px 2px gray;
                    border: 1px solid gray;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}

// .hero {
//     width: 100%;
//     margin: 0 auto;

//     img {
//         width: 100%;
//     }
// }

// table
@media screen and (max-width: 1440px) {
    .index-cards {
        .index-card {
            //   background-color: red;
            font-size: 0.5em;
            max-height: 400px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .index-cards {
        .index-card {
            //   background-color: red;
            font-size: 0.5em;
            max-height: 300px;

            .index-cover-img{

                .index-sponsor{
                    bottom: 85%;
                }
            }
        }


    }
}

@media screen and (max-width: 768px) {
    .index-cards {
        .index-card {
            //   background-color: red;
            font-size: 0.5em;
            max-height: 450px;
            width: calc((50% - 72px));

            .index-cover-img{

                .index-sponsor{
                    bottom: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .index-cards {
        .index-card {
            font-size: 0.5em;
            max-height: 450px;
            width: 80%;

            .index-cover-img{

                .index-sponsor{
                    bottom: 85%;
                }
            }
        }
    }

    .sign{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 375px) {
    .index-cards {
        .index-card {
            font-size: 0.5em;
            max-height: 400px;
            width: 80%;

            .index-cover-img{

                .index-sponsor{
                    bottom: 85%;
                }
            }
        }
    }

    .sign{
        font-size: 0.5em;
    }
}

@media screen and (max-width: 320px) {
    .index-cards {
        .index-card {
            font-size: 0.5em;
            max-height: 350px;
            width: 80%;

            .index-cover-img{

                .index-sponsor{
                    bottom: 85%;
                }
            }
        }
    }

    .sign{
        font-size: 0.5em;
    }
}
