//hamburger menu
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
    z-index: 99;

    .nav-container {
        // display: block;
        position: relative;
        height: 60px;
        margin-top: -12px;
        padding: 0 !important;

        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: #0e2431;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.7rem;
        }

        .checkbox {
            position: absolute;
            display: block;
            height: 32px;
            width: 32px;
            top: 20px;
            left: 20px;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
        }

        .hamburger-lines {
            display: block;
            height: 26px;
            width: 32px;
            position: absolute;
            top: 17px;
            left: 20px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .line {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: $color-accent;
            }

            .line1 {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }

            .line2 {
                transition: transform 0.2s ease-in-out;
            }

            .line3 {
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
        }

        input[type="checkbox"]:checked ~ .menu-items {
            transform: translateX(-300px);
            width: 30vw;
        }

        input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
            transform: rotate(45deg);
        }

        input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
            transform: scaleY(0);
        }

        input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
            transform: rotate(-45deg);
        }

        input[type="checkbox"]:checked ~ .logo {
            display: none;
        }

        .menu-items {
            color: $color-accent !important;
            position: absolute;
            display: flex;
            padding: 80px;
            height: 100vh;
            align-items: center;
            transform: translate(-200%);
            flex-direction: column;
            margin-left: -40px;
            transition: transform 0.5s ease-in-out;
            background-color: $dirty-white;

            .logo {
                margin-bottom: 2rem;
                padding-left: 7px;
                padding-bottom: 12px;
            }

            li {
                display: block;
                margin: 1.2rem;
                font-size: 20px;
                font-weight: 500;
            }

            .navbar-ul {
                list-style-type: none;
                margin-bottom: 0 !important;

                .navbar-li {
                    cursor: pointer;
                    text-decoration: none;
                    color: $color-gray-2;
                    margin-bottom: 15px;
                    a:hover {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}
.nav-logo {
    a {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .button_accent {
        padding: 10px 5px;
        width: fit-content;
    }
    .title {
        justify-content: space-between !important;
    }
    .navbar {
        .nav-container {
            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(0px);
                width: 70vw;
            }
            .menu-items {
                min-height: 100%;
                padding: 10px;
                width: 0vw;
            }
        }
    }
}

@media screen and(max-width: 1600px) {
    .navbar {
        .nav-container {
            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(-200px);
                width: 30vw;
            }
            .menu-items {
                padding: 20px;
            }
        }
    }
}

@media screen and(max-width: 1200px) {
    .navbar {
        .nav-container {
            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(-100px);
                width: 30vw;
            }
            .menu-items {
                padding: 20px;
            }
        }
    }
}

@media screen and(max-width: 900px) {
    .navbar {
        .nav-container {
            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(-50px);
                width: 40vw;
            }
            .menu-items {
                padding: 20px;
                padding-top: 100px;
            }
            .logo {
                display: none;
            }
        }
    }
}

@media screen and(max-width: 700px) {
    .navbar {
        .nav-container {
            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(-50px);
                width: 40vw;
            }
            .menu-items {
                padding: 20px;
                padding-top: 100px;
            }
        }
    }
}

@media screen and(max-width: 700px) {
    .navbar {
        .nav-container {
            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(-50px);
                width: 70vw;
            }
            .menu-items {
                padding: 20px;
                padding-top: 100px;
            }
        }
    }
}
@media screen and(max-width: 420px) {
    .navbar {
        .nav-container {
            input[type="checkbox"]:checked ~ .menu-items {
                transform: translateX(30px);
                width: 70vw;
            }
            .menu-items {
                padding: 20px;
                padding-top: 100px;
            }
        }
    }
}
