.padding-show {
    min-width: 100%;
    padding: 30px;
}

.pill-show {
    color: white;
    background-color: $color-accent;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    width: 25%;
    margin: 20px 0;
}

.aptimg{
    width: 300px;
    z-index: 1;
    border-radius: 10px;
}

.info-show {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 15px;
    justify-content: space-between;
}

.icons-absolute {
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 10px;
    color: white;
}

.fa-solid {
    margin-left: 15px;
    margin-right: 5px;
}

.margin-show-info {
    margin-bottom: 25px;
}

.margin-show-title {
    padding-bottom: 10px;
}

.color-show {
    color: $color-accent;
}
.show-services {
    color: $color-accent;
    width: 30%;
    display: flex;
    flex-direction: column;
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li {
            color: #000;
            border: 1px solid lightgray;
            padding: 0.35rem;
            border-radius: 0.5rem;
            box-shadow: 5px 5px 10px 0px lightgrey;
            margin-top: 0.2rem;
            width: fit-content;
            opacity: 0.8;
            margin-right: 0.3rem;
        }
    }
}
