.title {
    color: $color-accent;
    font-size: 16px;
    font-weight: 700;
}

.title-border {
    border-bottom: 1px solid $dirty-white;
}

.margin-nav {
    margin-top: 12px;
}

.m-right {
    margin-right: 20px;
}
