.title {
    color: $color-accent;
    font-size: 16px;
    font-weight: 700;
}

.title-border {
    border-bottom: 1px solid $dirty-white;
}

.margin-nav {
    margin-top: 12px;
}

.m-right {
    margin-right: 20px;
}

.navbar-guest {
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-logo {
    a {
        display: flex;
        align-items: center;
        align-items: center;
        span {
            margin-left: 10px;
        }
    }
}
